= f.radios :mentorship_role, mentorship_roles_collection(), required: true, inline: true

- if defined?(EffectiveArticleEditor)
  = f.article_editor :rich_text_comments, label: "Comments"
- else
  = f.rich_text_area :rich_text_comments, label: "Comments"

