- if mentorship_registration.present?
  - mentorship_cycle = mentorship_registration.mentorship_cycle
  - raise('expected a mentorship cycle') unless mentorship_cycle.present?

  = effective_table_with(mentorship_registration) do |f|
    = render('effective/mentorship_registrations/fields', f: f)
