- mentorship_cycle = mentorship_registration.mentorship_cycle
- raise('expected a mentorship cycle') unless mentorship_cycle.present?

- if mentorship_cycle.rich_text_registration_content.present?
  = card do
    = mentorship_cycle.rich_text_registration_content

= card do
  = effective_table_with(mentorship_registration)
