%h3 Create #{mentorship_groups_label}

%p 
  Upon clicking the button below, the #{badge(:draft)}
  = mentorship_groups_label.downcase
  will be created in a background process.

%p
  This process may take a few moments. No emails will be sent.
